@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    font-family: 'Cinzel', serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.addButton{
    width: 60px;
    height: 60px;
    font-size: 25px;
    border: 0;
    border-radius: 50%;
    background-color:rgba(30, 143, 255, 0.827);
    color: white;
    
}
.addButton:hover{
  
    background-color:rgb(30, 143, 255);
    
}





.container{
    background-color: azure;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 15px;
}

.done{
    text-decoration: line-through;
    color: red;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    
    padding: 15px;
    margin-top: 15px ;
    word-break: break-all;
}

.card{
    box-shadow: 0 2px 7px 1px gray;

}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
   
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal{
    background-color: white;
    padding: 20px;
}

.hide{
    display:none;
}

.btnSvg{
    margin-right: 4px;
    border-radius: 50%;
    border-color:dodgerblue;
    background-color: rgba(30, 143, 255, 0.727);
    width: 36px;
    height: 36px;
}

.btnSvg:hover{
    background-color: dodgerblue;
    
    cursor: pointer;
}